<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vox-PDF</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/styles.css')}}"
    >
</head>
<body>
    <div class="container">
        
        <div class="title-dash"></div>

        <div class="header">
            <p class="title">Vox-PDF</p>
            <p class="title-desc">CONVERT YOUR PDF DOCUMENTS INTO NATURAL-SOUNDING SPEECH.</p>
        </div>

        <div class="center-line"></div>
        <div class="center-line"></div>
        
        <div class="body-box">

            <button type="button" id="upload-btn">Choose File</button>

            <input type="file" name="pdf" id="real-file-input" accept=".pdf" style="display: none;">
            
            <div class="sub-center-line"></div>
            <div class="sub-center-line"></div>
            
            <div class="selected-file">
                <p id="selected-file-name">No Chosen File</p>
                <i class="fas fa-times" id="delete-file-btn" style="display: none;"></i>
            </div>
            
            <div class="sub-center-line"></div>
            <div class="sub-center-line"></div>
            
            <button id="convert-btn" disabled>Convert</button>
            
            <div class="sub-center-line"></div>
            <div class="sub-center-line"></div>
            
            <div class="audio-container">
                <audio controls>
                    <!-- <source src="{{ url_for('static', filename='audio/podcast.mp3') }}" type="audio/mpeg"> -->
                </audio>
            </div>

        </div>
        
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>